<%- include('partials/header') %>
<div class="form-container">
  <% if(locals.error) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %> <% if(locals.success) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>

  <div>
    <h1>User detail</h1>
    <br />

    <table>
      <tr>
        <td>First name</td>
        <td><%=locals.data.firstname %></td>
      </tr>
      <tr>
        <td>Last name</td>
        <td><%=locals.data.lastname %></td>
      </tr>
      <tr>
        <td>email</td>
        <td><%=locals.data.email %></td>
      </tr>
    </table>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-primary">
        Click Here for logout
      </button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
